*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
OnlineShoppingStore/.classpath
OnlineShoppingStore/.project
OnlineShoppingStore/.settings/
OnlineShoppingStore/src/main/webapp/META-INF/MANIFEST.MF
OnlineShoppingStore/src/main/resources/db.properties
