<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <debug />
    
    <!-- needed for security tag lib -->
    <beans:bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> 
    
    <http pattern="/index.jsp" security="none" />
    
    <http>
        <intercept-url pattern="/**" method="POST" access="ROLE_ADMIN" />
        <intercept-url pattern="/book/add" method="GET" access="ROLE_ADMIN" />
        <intercept-url pattern="/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/loginfailed.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/**" access="ROLE_USER" method="GET" />
        <form-login login-page="/login.jsp" authentication-failure-url="/loginfailed.jsp" 
                    default-target-url="/book"/>
        <logout logout-success-url="/index.jsp"/>
    </http>
    
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="plaintext" />
            <user-service>
                <user name="tare" password="123" authorities="ROLE_USER, ROLE_ADMIN" />
                <user name="fish" password="123" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

<!--    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt" />
            <jdbc-user-service data-source-ref="dataSource" />   
        </authentication-provider>
    </authentication-manager>
    
    <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <beans:property name="url" value="jdbc:mysql://localhost/cs544"/>
        <beans:property name="username" value="root"/>
        <beans:property name="password" value=""/>
    </beans:bean>-->
    

</beans:beans>